In [75]:
from pymongo import MongoClient

In [179]:
import pymongo

In [76]:
client = MongoClient('mongodb://localhost:27017/')

In [77]:
client.list_database_names()

['admin', 'config', 'demo', 'local', 'mylib', 'test']

In [158]:
db = client["demo"]

In [159]:
db.list_collection_names()

['student']

In [160]:
student = db["student"]

In [161]:
student.count_documents({})

0

In [162]:
#Insert the data
student.insert_one({"id":1, "name":"Ram","Country":"IN"})

In [163]:
#Multiple record insertion
studentList = [
    {"id":2, "name":"krish","Country":"IN"},
    {"id":3, "name":"karna","Country":"IN"},
    {"id":4, "name":"Ajay","Country":"RUS"},
    {"id":5, "name":"Sundar","Country":"SA"},
    {"id":6, "name":"John","Country":"GE"},
    {"id":7, "name":"Snow","Country":"US"},
    {"id":8, "name":"Rick","Country":"US"}
]

In [164]:
student.insert_many(studentList)

In [165]:
student.count_documents({})

8

In [166]:
student.find()

In [167]:
#Display all the documents
for student in student.find():
    print(student)

{'_id': ObjectId('60368e7ae5546deade5c2e91'), 'id': 1, 'name': 'Ram', 'Country': 'IN'}
{'_id': ObjectId('60368e80e5546deade5c2e92'), 'id': 2, 'name': 'krish', 'Country': 'IN'}
{'_id': ObjectId('60368e80e5546deade5c2e93'), 'id': 3, 'name': 'karna', 'Country': 'IN'}
{'_id': ObjectId('60368e80e5546deade5c2e94'), 'id': 4, 'name': 'Ajay', 'Country': 'RUS'}
{'_id': ObjectId('60368e80e5546deade5c2e95'), 'id': 5, 'name': 'Sundar', 'Country': 'SA'}
{'_id': ObjectId('60368e80e5546deade5c2e96'), 'id': 6, 'name': 'John', 'Country': 'GE'}
{'_id': ObjectId('60368e80e5546deade5c2e97'), 'id': 7, 'name': 'Snow', 'Country': 'US'}
{'_id': ObjectId('60368e80e5546deade5c2e98'), 'id': 8, 'name': 'Rick', 'Country': 'US'}

In [151]:
# Drop student from Mongo cmd 
#>use demo
#>db.createcollection("students")
#>db.collection_name.drop()

In [170]:
db.student.find()

In [ ]:
student.update_man